<div>
    <div style="float: left; width: 118px;">
        &nbsp;
    </div>
    <div class="topOrangeBorderContainerFooter">
        <div style="float: left; width: 38px; border-right: 1px solid #FF893C;">
            &nbsp;
        </div>
        <div style="float: right; width: 40px;">
            &nbsp;
        </div>
    </div>

</div>
<div class="clear_1px;">&nbsp;</div>
<div>
    <div style="float: left; width: 118px;">
        &nbsp;
    </div>
    <div>
        <div style="float: left; width: 38px; border-right: 1px solid #FF893C;">
            &nbsp;
        </div>
        <div style="float: right; width: 40px;">
            &nbsp;
        </div>
    </div>
    <div style="float: right; width: 602px;">
        <div>
            <p class="copyright">
                &#169;EMI Europe Copyright 2012<br>
                <a href="http://www.calabashmedia.com">Site Design by Calabashmedia</a>
            </p>
        </div>
    </div>
</div>
<div class="clear_1px;">&nbsp;</div>
