@{
    ViewBag.Title = "Emi Europe - About Us";
}

<table border="0" cellspacing="0" cellpadding="0" class="table-padding">
    <tr>
        <td width="552">
            <img src="@Url.Content("~/Content/themes/Images/PageHeader/company_profile_header_main.gif")" alt="Company Profile Header"  width="184" height="30"/>

        </td>
    </tr>
    <tr>
        <td width="552"  valign="top">
            <h2>About Us:</h2>
            <p>
                <b>EMI Europe</b> has been committed to providing total recruitment solutions for our clients and candidates for over 10 years now.
            </p>
            <p>We have a dedicated staff, highly trained to cater to the specific needs of each and every client.</p>
            <p>
                We have successfully established solid and friendly relationships with many of our clients through a combination of our extensive advertising campaigns, a high level of candidate loyalty and our informal and yet consistently professional way in dealing with applicants.
            </p>
            <p>

                This strategy has been well received as we are now the <b>First Choice Recruitment Partner</b> for leading hospitals and clinics around the globe.
            </p>
            <p>
                In all our dealings, we are committed to being up front, honest, and efficient and will always strive to reach the highest standards of excellence.
            </p>
        </td>
    </tr>
</table>
