@{
    ViewBag.Title = "Emi Europe - Clients";
}
<table border="0" cellspacing="0" cellpadding="0" class="table-padding">
    <tr>
        <td width="552">
            <img src="@Url.Content("~/Content/themes/Images/PageHeader/clients_header.gif")" width="193" height="33">
        </td>
    </tr>
    <tr>
        <td width="552">
            <p>
                <b>We are dedicated to providing you with an outstanding service. This means knowing
                    your health service and knowing your unique requirements.</b>
            </p>
            <p>
                We react very quickly to market changes with a view of helping you minimize your
                staff turnover. Our policy is to establish a long term relationship in order to
                genuinely understand which candidates are more suited to your needs, and more importantly
                which applicant can blend in your work place and become a good team player.
            </p>
            <p>
                The current worldwide shortage of medical professionals, in particular nurses, means
                that candidates have hundred of opportunities to choose from. Ultimately, in the
                current market it is difficult to retain qualified health professionals.
            </p>
            <p>
                For this reason, at <b>EMI Europe</b>is designed to analyze their career intentions,
                as well as their personality type.
            </p>
            <p>
                This is followed by a ongoing <b>Post Placement Service</b>. We believe that if
                we assist our candidates after they start working for you, that we are more likely
                to overcome problems and reasons that could drive them away.
            </p>
            <p>
                For more information, contact us today and one of our experienced consultants will
                be happy to answer your questions and lead you through a successful recruitment
                campaign.
            </p>
        </td>
    </tr>
</table>
