@{
    ViewBag.Title = "Emi Europe - HealthCare";
}
<table border="0" cellspacing="0" cellpadding="0" class="table-padding">
    <tr>
        <td width="552">
            <img src="@Url.Content("~/Content//themes/Images/PageHeader/healthcares_mainheader.gif")" alt="Company Profile" />
        </td>
    </tr>
    <tr>
        <td width="552"  valign="top">
            <p class="firstline">
                New reports show jobs are finally being added to the economy. But many of them pay
                less than those that were lost.
            </p>
            <p>
                &#147;The most significant thing is not that the economy is coming back and that
                jobs are coming back, but the disparity of what is coming back and what&#146;s not,&#148;
                says Detroit Mayor Kwame Kilpatrick, a member of the U.S. Conference of Mayors,
                which commissioned the report by market researcher Global Insight.
            </p>
            <p>
                &#147;We are now in a productivity-led expansion&#151;technological advances made
                some companies more productive so these employers do not need to rehire workers
                even as the economy improves,&#148; There are some jobs that seem immune to technological
                substitution. &#148; Indeed, the Global Insight report shows that, Health-care and
                social assistance is, in fact, the second fastest-growing sector in the country,
                with about 740,000 new jobs expected, paying an average of about $37,400 a year.
            </p>
            <p>
                However, &#147;There are a lot of fairly low-wage jobs there, What we&#146;re seeing
                is people leaving the assembly line to move into home health care&#148;. That&#146;s
                not to say that other high-paying jobs aren&#146;t out there, but there are fewer
                of them and more competition. The pendulum is still tilted in the employer&#146;s
                favor. But that may change in the years to come. &#147;We will probably not see
                a true job market boom until the next economic cycle around 2008&#148;. But it will
                be a big one. That&#146;s the year leading edge baby boomers turn 62.
            </p>
            <p class="firstline">
                Offshore outsourcing will affect everyone.<br>
                <font class="firstline">
                    The flood of work and the loss of jobs has many people questioning what is happening and there are signs that offshore outsourcing is starting to become a heated political issue in more than one country.
				</font>
            </p>
            <p>
                The skilling of labour markets in low cost countries is causing a major shift in
                global work patterns. There seems little doubt that offshore outsourcing will continue
                to grow and it is difficult to argue with the costs and logic offered by those performing
                the work even if one should wish to.
            </p>
            <p>
                At EMI we understand the recent changes in the economy, in a difficult market it&#146;s
                important to choose the right Partner.
            </p>
            <p>
                Our Global presence simply means that we have a broad view on recruitment matters,
                and this can benefit both Candidates and Clients:<br>
            </p>
            <font class="firstline"><center>&#147; Let us do the hard work for you &#147;.</center></font>
        </td>
    </tr>
</table>
