@{
    ViewBag.Title = "Emi Europe - Why Use Our Service";
}


<table border="0" cellspacing="0" cellpadding="0" class="table-padding">
    <tr>
        <td width="552">
            <img src="@Url.Content("~/Content//themes/Images/whyuseourservice_big.jpg")" alt="Why Use Our Service" width="223px" height="22px" style="padding-top:10px;"/>
        </td>
    </tr>
    <tr>
        <td width="552"  valign="top">
            <p class="firstline">
               Why use our services when most healthcare facilities have in-house recruiters?
            </p>
            <p>
              In-house recruiters or Talent acquisition consultants have to fill multiple vacancies, spread across various department, hence they don’t have much time to build a passive candidates pipeline.
            </p>
            <p>
                <i>A passive candidate is someone who is not looking for a job, but would be open to taking one if the right opportunity came along.</i>
            </p>
            <p>
                It can be incredibly difficult to quickly find suitably qualified candidates, once you actually have a hiring need, if you don’t already have the right people identified and queued up.
            </p>
            <p>
                This is done through the following techniques:
            </p>
            <ul>
                <li>Headhunting</li>
                <li>Networking</li>
                <li>Referral bonus programs</li>
                <li>Socializing</li>  
            </ul>
            <p>
              At Cath lab HR we consistently search for, identify cardiology candidates and understand what their next career move is going to be and we establish a warm relationship with them. 
            </p>
           
        </td>
    </tr>
</table>

