<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-CalabashMedia.EmiEurope.MvcApplication-2012414114939;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="VacancyContext" connectionString="Data Source=localhost;Initial Catalog=EmiEurope;User Id=emieurope;Password=admin;" providerName="System.Data.SqlClient"/>
    <!--<add name="VacancyContext" connectionString="Data Source=65.163.13.74;Initial Catalog=EmiEurope;User Id=emieurope;Password=admin;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="CalabashMedia.EmiEurope.Service.VacancyService">
        <endpoint address="" binding="basicHttpBinding" contract="CalabashMedia.EmiEurope.Service.IVacancyService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Design_Time_Addresses/CalabashMedia.EmiEurope.Service/VacancyService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
