<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>D:\Deploy\EmiEurope</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="App_Readme/Elmah.txt">
      <publishTime>04/29/2012 21:17:13</publishTime>
    </File>
    <File Include="bin/CalabashMedia.EmiEurope.BLL.dll">
      <publishTime>05/20/2012 22:54:10</publishTime>
    </File>
    <File Include="bin/CalabashMedia.EmiEurope.BLL.pdb">
      <publishTime>05/20/2012 22:54:10</publishTime>
    </File>
    <File Include="bin/CalabashMedia.EmiEurope.DataAccess.dll">
      <publishTime>05/20/2012 22:54:09</publishTime>
    </File>
    <File Include="bin/CalabashMedia.EmiEurope.DataAccess.pdb">
      <publishTime>05/20/2012 22:54:09</publishTime>
    </File>
    <File Include="bin/CalabashMedia.EmiEurope.Domain.dll">
      <publishTime>05/20/2012 22:54:09</publishTime>
    </File>
    <File Include="bin/CalabashMedia.EmiEurope.Domain.pdb">
      <publishTime>05/20/2012 22:54:09</publishTime>
    </File>
    <File Include="bin/CalabashMedia.EmiEurope.MvcApplication.dll">
      <publishTime>05/20/2012 22:54:13</publishTime>
    </File>
    <File Include="bin/CalabashMedia.EmiEurope.MvcApplication.pdb">
      <publishTime>05/20/2012 22:54:13</publishTime>
    </File>
    <File Include="bin/DataAnnotationsExtensions.ClientValidation.dll">
      <publishTime>04/29/2012 11:28:00</publishTime>
    </File>
    <File Include="bin/DataAnnotationsExtensions.dll">
      <publishTime>04/29/2012 11:28:00</publishTime>
    </File>
    <File Include="bin/Elmah.dll">
      <publishTime>04/29/2012 21:17:11</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>04/29/2012 21:13:28</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>04/29/2012 21:13:28</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>04/14/2012 11:49:34</publishTime>
    </File>
    <File Include="bin/NuGet.Core.dll">
      <publishTime>04/14/2012 11:49:37</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>04/14/2012 11:49:35</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>04/14/2012 11:49:38</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>04/14/2012 11:49:38</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>04/14/2012 11:49:35</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Administration.dll">
      <publishTime>04/14/2012 11:49:37</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>04/14/2012 11:49:35</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>04/14/2012 11:49:35</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>04/14/2012 11:49:35</publishTime>
    </File>
    <File Include="bin/WebActivator.dll">
      <publishTime>04/29/2012 11:28:00</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>05/20/2012 00:41:40</publishTime>
    </File>
    <File Include="Content/Site_ie7.css">
      <publishTime>05/20/2012 00:49:55</publishTime>
    </File>
    <File Include="Content/Site_ie8.css">
      <publishTime>05/20/2012 00:49:26</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Content/themes/Images/companyprofile_header.gif">
      <publishTime>04/19/2012 22:35:55</publishTime>
    </File>
    <File Include="Content/themes/Images/emieurope-banner.jpg">
      <publishTime>04/15/2012 17:37:31</publishTime>
    </File>
    <File Include="Content/themes/Images/emieurope-logo.gif">
      <publishTime>04/15/2012 17:37:20</publishTime>
    </File>
    <File Include="Content/themes/Images/healthcaresfuture_header.gif">
      <publishTime>04/19/2012 22:35:55</publishTime>
    </File>
    <File Include="Content/themes/Images/healthcares_mainheader.gif">
      <publishTime>04/19/2012 23:35:20</publishTime>
    </File>
    <File Include="Content/themes/Images/homepage-contactus.jpg">
      <publishTime>05/15/2012 20:16:00</publishTime>
    </File>
    <File Include="Content/themes/Images/homepage-mainheading.jpg">
      <publishTime>05/14/2012 00:48:12</publishTime>
    </File>
    <File Include="Content/themes/Images/homepage-right-icons.jpg">
      <publishTime>05/09/2012 20:02:00</publishTime>
    </File>
    <File Include="Content/themes/Images/LeftNavigation/Dieticians.gif">
      <publishTime>04/19/2012 21:56:48</publishTime>
    </File>
    <File Include="Content/themes/Images/LeftNavigation/Doctors.gif">
      <publishTime>04/19/2012 21:56:48</publishTime>
    </File>
    <File Include="Content/themes/Images/LeftNavigation/MedicalSocialWorkers.gif">
      <publishTime>04/19/2012 21:56:48</publishTime>
    </File>
    <File Include="Content/themes/Images/LeftNavigation/NursesAssistants.gif">
      <publishTime>04/19/2012 21:56:48</publishTime>
    </File>
    <File Include="Content/themes/Images/LeftNavigation/OccupationalTherapists.gif">
      <publishTime>04/19/2012 21:56:48</publishTime>
    </File>
    <File Include="Content/themes/Images/LeftNavigation/OTAssistants.gif">
      <publishTime>04/19/2012 21:56:48</publishTime>
    </File>
    <File Include="Content/themes/Images/LeftNavigation/PhysicalTherapists.gif">
      <publishTime>04/19/2012 21:56:48</publishTime>
    </File>
    <File Include="Content/themes/Images/LeftNavigation/PTAssistants.gif">
      <publishTime>04/19/2012 21:56:48</publishTime>
    </File>
    <File Include="Content/themes/Images/LeftNavigation/RadiologicTechnologists.gif">
      <publishTime>04/19/2012 21:56:48</publishTime>
    </File>
    <File Include="Content/themes/Images/LeftNavigation/RegisteredNurses.gif">
      <publishTime>04/19/2012 21:56:48</publishTime>
    </File>
    <File Include="Content/themes/Images/LeftNavigation/SpeechTherapists.gif">
      <publishTime>04/19/2012 21:56:48</publishTime>
    </File>
    <File Include="Content/themes/Images/PageHeader/candidates_header.gif">
      <publishTime>04/20/2012 23:20:45</publishTime>
    </File>
    <File Include="Content/themes/Images/PageHeader/clients_header.gif">
      <publishTime>04/20/2012 23:20:45</publishTime>
    </File>
    <File Include="Content/themes/Images/PageHeader/company_profile_header_main.gif">
      <publishTime>04/20/2012 00:08:12</publishTime>
    </File>
    <File Include="Content/themes/Images/PageHeader/company_prof_header.gif">
      <publishTime>04/20/2012 23:20:45</publishTime>
    </File>
    <File Include="Content/themes/Images/PageHeader/contact_header.gif">
      <publishTime>04/20/2012 23:20:45</publishTime>
    </File>
    <File Include="Content/themes/Images/PageHeader/healthcares_mainheader.gif">
      <publishTime>04/20/2012 23:20:45</publishTime>
    </File>
    <File Include="Content/themes/Images/PageHeader/jobsincarisl_header.jpg">
      <publishTime>04/20/2012 23:20:45</publishTime>
    </File>
    <File Include="Content/themes/Images/PageHeader/jobsmeast_header.jpg">
      <publishTime>04/20/2012 23:20:45</publishTime>
    </File>
    <File Include="Content/themes/Images/PageHeader/post_res_header.gif">
      <publishTime>04/20/2012 23:20:45</publishTime>
    </File>
    <File Include="Content/themes/Images/PageHeader/register_header.gif">
      <publishTime>04/20/2012 23:20:45</publishTime>
    </File>
    <File Include="Content/themes/Images/PageHeader/vacancies_header.gif">
      <publishTime>04/20/2012 23:20:45</publishTime>
    </File>
    <File Include="Content/themes/Images/QuickRegistration.jpg">
      <publishTime>05/14/2012 01:01:00</publishTime>
    </File>
    <File Include="Content/themes/Images/TopNavigation/candidate.gif">
      <publishTime>04/15/2012 23:45:20</publishTime>
    </File>
    <File Include="Content/themes/Images/TopNavigation/candidate_down.gif">
      <publishTime>04/15/2012 23:45:20</publishTime>
    </File>
    <File Include="Content/themes/Images/TopNavigation/clients.gif">
      <publishTime>04/15/2012 23:45:20</publishTime>
    </File>
    <File Include="Content/themes/Images/TopNavigation/clients_down.gif">
      <publishTime>04/15/2012 23:45:20</publishTime>
    </File>
    <File Include="Content/themes/Images/TopNavigation/contact.gif">
      <publishTime>04/15/2012 23:45:20</publishTime>
    </File>
    <File Include="Content/themes/Images/TopNavigation/contact_down.gif">
      <publishTime>04/15/2012 23:45:20</publishTime>
    </File>
    <File Include="Content/themes/Images/TopNavigation/home.gif">
      <publishTime>04/15/2012 23:45:20</publishTime>
    </File>
    <File Include="Content/themes/Images/TopNavigation/home_down.gif">
      <publishTime>04/15/2012 23:45:20</publishTime>
    </File>
    <File Include="Content/themes/Images/TopNavigation/postresume.gif">
      <publishTime>04/15/2012 23:45:20</publishTime>
    </File>
    <File Include="Content/themes/Images/TopNavigation/postresume_down.gif">
      <publishTime>04/15/2012 23:45:20</publishTime>
    </File>
    <File Include="Content/themes/Images/TopNavigation/register.gif">
      <publishTime>04/15/2012 23:45:20</publishTime>
    </File>
    <File Include="Content/themes/Images/TopNavigation/register_down.gif">
      <publishTime>04/15/2012 23:45:20</publishTime>
    </File>
    <File Include="Content/themes/Images/TopNavigation/vacancies.gif">
      <publishTime>04/15/2012 23:45:20</publishTime>
    </File>
    <File Include="Content/themes/Images/TopNavigation/vacancies_down.gif">
      <publishTime>04/15/2012 23:45:20</publishTime>
    </File>
    <File Include="Content/themes/Images/whyuseourservice_big.jpg">
      <publishTime>05/15/2012 21:30:00</publishTime>
    </File>
    <File Include="Content/themes/Images/whyuseourservice_small.jpg">
      <publishTime>05/15/2012 21:30:00</publishTime>
    </File>
    <File Include="favicon.ico">
      <publishTime>05/12/2012 21:19:21</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>04/14/2012 11:49:33</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>05/01/2012 23:50:39</publishTime>
    </File>
    <File Include="Scripts/EmiEurope.js">
      <publishTime>04/15/2012 23:50:58</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2-vsdoc.js">
      <publishTime>04/14/2012 11:49:39</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.js">
      <publishTime>04/14/2012 11:49:39</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.min.js">
      <publishTime>04/14/2012 11:49:39</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.js">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.min.js">
      <publishTime>04/14/2012 11:49:40</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <publishTime>04/14/2012 11:49:32</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <publishTime>04/14/2012 11:49:32</publishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <publishTime>04/14/2012 11:49:39</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>04/14/2012 11:49:39</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>04/14/2012 11:49:39</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>04/14/2012 11:49:33</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>04/14/2012 11:49:33</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.debug.js">
      <publishTime>04/14/2012 11:49:33</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.js">
      <publishTime>04/14/2012 11:49:33</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.debug.js">
      <publishTime>04/14/2012 11:49:33</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.js">
      <publishTime>04/14/2012 11:49:33</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.debug.js">
      <publishTime>04/14/2012 11:49:33</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.js">
      <publishTime>04/14/2012 11:49:33</publishTime>
    </File>
    <File Include="Scripts/modernizr-2.0.6-development-only.js">
      <publishTime>04/14/2012 11:49:41</publishTime>
    </File>
    <File Include="Views/Account/ChangePassword.cshtml">
      <publishTime>05/09/2012 21:13:56</publishTime>
    </File>
    <File Include="Views/Account/ChangePasswordSuccess.cshtml">
      <publishTime>05/09/2012 21:13:56</publishTime>
    </File>
    <File Include="Views/Account/LogOn.cshtml">
      <publishTime>05/09/2012 21:13:56</publishTime>
    </File>
    <File Include="Views/Account/Register.cshtml">
      <publishTime>05/09/2012 21:13:56</publishTime>
    </File>
    <File Include="Views/Admin/ChangePassword.cshtml">
      <publishTime>05/09/2012 21:13:56</publishTime>
    </File>
    <File Include="Views/Admin/ChangePasswordSuccess.cshtml">
      <publishTime>05/09/2012 21:13:56</publishTime>
    </File>
    <File Include="Views/Admin/Create.cshtml">
      <publishTime>05/14/2012 00:02:07</publishTime>
    </File>
    <File Include="Views/Admin/Delete.cshtml">
      <publishTime>05/13/2012 01:32:13</publishTime>
    </File>
    <File Include="Views/Admin/Details.cshtml">
      <publishTime>05/13/2012 01:46:18</publishTime>
    </File>
    <File Include="Views/Admin/Edit.cshtml">
      <publishTime>05/14/2012 00:02:09</publishTime>
    </File>
    <File Include="Views/Admin/LogOn.cshtml">
      <publishTime>05/09/2012 21:13:56</publishTime>
    </File>
    <File Include="Views/Admin/Register.cshtml">
      <publishTime>05/09/2012 21:13:56</publishTime>
    </File>
    <File Include="Views/Admin/VacancyDetailsAdmin.cshtml">
      <publishTime>05/15/2012 20:52:05</publishTime>
    </File>
    <File Include="Views/Admin/VacancyIndex.cshtml">
      <publishTime>05/15/2012 23:13:36</publishTime>
    </File>
    <File Include="Views/Admin/VacancyTemplate.cshtml">
      <publishTime>05/15/2012 20:52:05</publishTime>
    </File>
    <File Include="Views/Home/AboutUs.cshtml">
      <publishTime>05/12/2012 20:28:38</publishTime>
    </File>
    <File Include="Views/Home/Clients.cshtml">
      <publishTime>05/09/2012 22:11:00</publishTime>
    </File>
    <File Include="Views/Home/ContactUs.cshtml">
      <publishTime>05/10/2012 00:54:23</publishTime>
    </File>
    <File Include="Views/Home/HealthCare.cshtml">
      <publishTime>05/09/2012 22:11:00</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>05/16/2012 23:19:59</publishTime>
    </File>
    <File Include="Views/Home/QuickRegisterEmailThankYou.cshtml">
      <publishTime>05/13/2012 01:21:56</publishTime>
    </File>
    <File Include="Views/Home/Register.cshtml">
      <publishTime>05/13/2012 01:03:29</publishTime>
    </File>
    <File Include="Views/Home/RegisterEmailThankYou.cshtml">
      <publishTime>05/13/2012 01:21:56</publishTime>
    </File>
    <File Include="Views/Home/Service.cshtml">
      <publishTime>05/15/2012 21:44:27</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>05/09/2012 21:14:02</publishTime>
    </File>
    <File Include="Views/Shared/Footer.cshtml">
      <publishTime>05/19/2012 00:36:43</publishTime>
    </File>
    <File Include="Views/Shared/LeftNavigation.cshtml">
      <publishTime>05/14/2012 01:04:14</publishTime>
    </File>
    <File Include="Views/Shared/TopNavigation.cshtml">
      <publishTime>05/19/2012 01:05:12</publishTime>
    </File>
    <File Include="Views/Shared/VacancyDetails.cshtml">
      <publishTime>05/13/2012 23:58:23</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>05/20/2012 01:51:43</publishTime>
    </File>
    <File Include="Views/Shared/_LayoutHomePage.cshtml">
      <publishTime>05/20/2012 01:51:43</publishTime>
    </File>
    <File Include="Views/Shared/_LogOnPartial.cshtml">
      <publishTime>05/13/2012 01:30:14</publishTime>
    </File>
    <File Include="Views/Vacancy/Create.cshtml">
      <publishTime>05/09/2012 21:14:02</publishTime>
    </File>
    <File Include="Views/Vacancy/Delete.cshtml">
      <publishTime>05/09/2012 21:14:02</publishTime>
    </File>
    <File Include="Views/Vacancy/Details.cshtml">
      <publishTime>05/09/2012 21:14:02</publishTime>
    </File>
    <File Include="Views/Vacancy/Edit.cshtml">
      <publishTime>05/09/2012 21:14:02</publishTime>
    </File>
    <File Include="Views/Vacancy/Index.cshtml">
      <publishTime>05/13/2012 14:11:12</publishTime>
    </File>
    <File Include="Views/Vacancy/VacancyDetails.cshtml">
      <publishTime>05/15/2012 20:52:05</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>04/29/2012 02:05:41</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>04/14/2012 11:49:33</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>05/20/2012 22:54:16</publishTime>
    </File>
  </ItemGroup>
</Project>